h2 {
    font-family: "Special Elite", cursive;
    /* color: rgb(0, 73, 63); */
    font-size: 1.25rem;
    text-shadow: 0 0 3px darkslategrey;
}

.articleSection {
    text-align: left;
}

div.articleBlock {
    padding: 4px;
    width: 100%;
    height: 350px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
}

div.textBox {
    margin: 20px;
}

.mr10 {
    display: block;
    margin-top: 20px;
    margin: auto;
    font-family: "Special Elite", cursive;
}

.inputButton:hover {
    opacity: 0.5;
}

#commentText {
    display: flex;
    margin: auto;
    padding: 5px;
    width: 75%;
    height: 100px;
    background: white;
}

.addButton {
    text-shadow: 0 0 3px rgb(0, 132, 255)
}

.addButton:hover {
    opacity: 0.5
}

.comment {
    font-family: "Special Elite", cursive;
}
