h3 {
    justify-content: left;
}

.donut-container {
    width: 300px;
    height: 300px;
    max-width: 300px;
    max-height: 300px;
}

.recent-activity-item {
    border: 1px solid grey;
    margin: 0.5rem;
    padding: 0.5rem;

}