@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
.trending {
    font-family: "Special Elite", cursive;
    color: rgb(42, 24, 24);
    text-shadow: 0 0 5px rgb(65, 0, 0);
    font-size: 2rem;
    letter-spacing: 1px;
}

.topics {
    display: inline-block;
}

.input-group {
    font-family: 'Comfortaa', cursive;
}
.generateButton:hover {
    opacity: 0.3;
}

.search {
    border-radius: 50px;
    width: 700px;
    text-align: center;
    height: 50px;
    font-family: 'Comfortaa', cursive;
}

