.logo {
    font-family: "Special Elite", cursive;
    text-shadow: 0 0 10px rgb(58, 55, 55);
    font-size: 5rem;
    letter-spacing: 13px;
}

.i {
    color: rgb(175, 0, 0);
    font-family: "Special Elite", cursive;

}

.f {
    color: rgb(0, 0, 200);
    font-family: "Special Elite", cursive;

}

.y {
    color: rgb(231, 209, 8);
    font-family: "Special Elite", cursive;

}

.period {
    color: green;
    font-family: "Special Elite", cursive;

}