h2 {
    font-family: "Special Elite", cursive;
    text-align: center;
    /* color: rgb(0, 73, 63); */
    font-size: 1.25rem;
    text-shadow: 0 0 3px darkslategrey;
}

.carousel {
    width: 540px;
    height: 300px;
    /* padding-top: 10px; */
    /* padding-bottom: 10px; */
    margin-bottom: 50px;
    box-shadow: 0 0 5px black;
}

div.carousel-caption,
p.car,
.carousel-indicators {
    background-color: transparent;
}

p.car {
    font-size: 1.25rem;
    text-shadow: 0 0 5px black;
}

