@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
nav {
    font-family: 'Comfortaa', cursive;
    color: rgb(0, 0, 0);
    font-size: 1rem;
}

/* .nav-link {
    text-shadow: 0 0 3px gold
} */

/* .nav-link:hover{
    opacity: 0.3;
} */